* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  color:#3b4447;
}
h5 {
  display: inline-block;
  font-size: 14px;
  text-align: left;
}
p {
  font-size: 16px;
  font-weight: 500;
}
.wrapper1050 {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 25px;
}

.wrapper1500 {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 70px 25px;
}

.padding70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.position_relative {
  position: relative;
}
.btn {
  background-color: #222728;
  padding: 5px 15px;
  margin: 22px 0;
  border-radius: 3px;
  color: #CDD8BC;
}
.btn:hover {
  color: #bfcc96;
}
.btn_yellow {
  border: 2px ridge #a1de41;
  box-shadow: 0px 0px 1px 0px rgba(243,255,69,1);
}
.btn_grey {
  border: 2px solid #536970;
}
/* HEADER */
/* nav */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #222728;
  border: 1px solid rgba(50 , 50 , 50 , .8);
  z-index:3;
}
.height80 {
  height: 80px;
}
.nav img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100px;
}

.nav ul li a {
  vertical-align: middle;
  color: #536970;
}

.nav ul li a i {
  margin-left: 10px;
  font-size: 8px;
  vertical-align: middle;
}

.nav ul li {
  margin: 0 5px;
  padding: 0 0 10px 0;
}

.nav ul li:hover a {
  text-decoration: none;
  color: white;
}
.nav ul li.border_bottom:hover {
  border-bottom: 3px solid #6dabce;
}

.hamburger {
  padding: 20px 0;
  font-size: 40px;
  color: white;
}
/* jumbo */
.jumbo {
  width: 100%;
  margin-top: 80px;
  background-color: #222728;
}

.jumbo_text {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.jumbo p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #84949a;
}

.btn_big {
  font-size: 16px;
  margin: 30px auto 0;
  padding: 10px 40px;
}

.jumbo img {
  width: 100%;
}

/* MAIN */
/* loghi */
.loghi {
  width: 100%;
  border-top: 1px solid #b1b9bd;
  border-bottom: 1.5px solid #ececec;
}

.main_loghi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 20px;
  list-style: none;
}

.main_loghi li {
  margin: 0;
  flex-basis: calc(100% / 3);
  padding: 0 40px;
}
.main_loghi li img {
  width: 50px;
}
.net img {
  height: 80px;
}

/* quick */
.quick {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.text {
  text-align: center;
}
.text img {
  margin-right: 10px;
  width: 20px;
}
.quick h5 {
  color: #7a8b91;
}

.quick h2 {
  text-align: center;
  color: #3b4447;
}

.quick h2::after {
  display: block;
  position: relative;
  left: calc(50% - 15px);
  content: "";
  width: 30px;
  height: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid silver;
  border-radius: 20px;
}
.quick p {
  color: #697782;
  margin-bottom: 20px;
}

.quick a {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #24c1ed;
  border-bottom: 2px solid rgba(36,193,237,0.5);
}

.quick a i {
  margin-left: 10px;
  font-size: 10px;
  color: rgba(36,193,237,0.5);
}

.img img {
  width: 100%;
  margin-top: 60px;
}

/* url */

/* scale */

/* free */
.left {
  height: 350px;
  background-color: orange;
}
.right {
  height: 350px;
  background-color: lightblue;
}
/* footer */
footer {
  width: 100%;
  height:600px;
  background-color: #222728;
}

.footer_top {
  display: flex;

}
.footer_list {
  width: calc(100% / 5);
  height: 400px;
  background-color: coral;
  border: 2px solid white;
}
.footer_lang {
  width: 100%;
  height: 100px;
  background-color: lightgreen;
}
.wrapper1500.footer_bottom {
  padding: 0;
}
.footer_bottom {
  width: 100%;
  height: 100px;
  background-color: cyan;
}
/* MEDIA QUERY */
/* small */
@media screen and (min-width: 768px) {
  .main_loghi li {
    flex-basis: calc(100% / 5);
    padding: 0 40px;
  }
  .main_loghi li img {
    width: 90px;
  }
}

/* medium */
@media screen and (min-width:992px) {
  .text {
    padding: 60px 0 60px 60px;
    text-align: left;
  }
  .quick h2 {
    text-align: left;
  }
  .quick h2::after {
    position: static;
  }
  .img {
    padding-right: 60px;
  }
}
